# General
NODE_ENV=development
API_PORT=4000
CORS_ORIGIN=http://localhost:3000

# Feature Flags
ENABLE_RABBITMQ=true

# App Settings
STORAGE_PATH=./storage
MAX_FILE_SIZE=104857600
# Size in GB (maximum is 150GiB = 161061273600)
MAX_NUMBER_STORAGE_VOLUMES=3

# Security
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d

# Database
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=aio_storage
MONGODB_USER=admin
MONGODB_PASSWORD=password123

# Caching Database (6372 or 6379)
REDIS_URL=redis://localhost:6379

# Message Queuing (5672 or 15672)
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password123